@font-face {
    font-family: "Futura";
    src: url("./Futura\ Book\ font.ttf");
}

@font-face {
    font-family: "New Caledonia";
    src: url("./NewCaledoniaLTStdRg.TTF");
}

:root {
    --clr-dark : #1A2238;
    --clr-light: #9DAAF2;
    --clr-orange: #FF6A3D;
    --clr-accent: #F4DB7D;
    --clr-text: #edf2f4;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: fit-content;
    background-color: var(--clr-dark);
    color: var(--clr-text);
}



#content {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
}


.heading {
    font-family: "New Caledonia";
}

.main-layout {
    display:flex;
    flex-direction: column;
}

.main-layout-div{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Futura";
}

.first {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.menu-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Futura";
}


.menu {
    display: grid;
    grid-template-columns: 40vw 40vw;
    column-gap: 30px;
}

.menu-item {
    display: flex;
    flex-direction: column;
}

.menu-item > img {
    width: 30vw;
    height: 50vh;
}

.menu-item :hover {
    transform: scaleX(1.1);
}