@font-face {
    font-family: "Futura";
    src: url("./Futura\ Book\ font.ttf");
}

@font-face {
    font-family: "New Caledonia";
    src: url("./NewCaledoniaLTStdRg.TTF");
}

:root {
    --clr-dark : #1A2238;
    --clr-light: #9DAAF2;
    --clr-orange: #FF6A3D;
    --clr-accent: #F4DB7D;
    --clr-text: #edf2f4;
}

body {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-dark);
    color: var(--clr-text);
}

#content {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.container {
    height: 70vh;
}


.layout {
    width:inherit;
    display: flex;
    flex-direction: row-reverse;
}

.heading {
    font-family: "New Caledonia";
    margin-right: 100px;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
}